.cover {
    display: flex;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
}

.flex-form {
    display: flex;
    width: 100%;
    height: 80px;
}
input {
    width: 100%;
}

.submit_button {
    background-color: #E61E4D;
    color: white;
    text-align: center;
    width: 300px;
    border: none;
}

.submit_botton > text {
    text-align: center;
}

.date_range {
    min-width: 200px;
}

.date_range {
    max-width: 200px;
}